@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #fcd20e;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  color: #000000;
}

/* START: General Styles */

.btn-primary {
  @apply p-4 rounded-xl text-xl bg-primary text-background w-max;
}

.btn-primary-xl {
  @apply p-6 px-20 rounded-xl text-xl bg-primary text-background w-max;
}

.btn-danger {
  @apply p-4 rounded-xl text-xl bg-danger text-background w-max;
}

.btn-danger-xl {
  @apply p-6 px-20 rounded-xl text-xl bg-danger text-background w-max;
}

.btn-secondary {
  @apply p-4 rounded-xl text-xl bg-secondary text-black w-max;
}

.btn-secondary-xl {
  @apply p-6 px-20 rounded-xl text-xl bg-secondary text-black w-max;
}

.nav-link {
  @apply hover:text-secondary text-white cursor-pointer w-max;
}

.padding-x-sm {
  @apply px-3;
}

.padding-y-sm {
  @apply py-3;
}

.padding-x {
  @apply px-6;
}

.padding-y {
  @apply py-6;
}

.padding-x-2 {
  @apply px-12;
}

.padding-y-2 {
  @apply py-12;
}

.tag-sm {
  @apply bg-background cursor-pointer p-2 w-max rounded-md outline-none border border-background hover:border-gray2 shadow shadow-gray;
}

.input-sm {
  @apply rounded p-2 outline-none bg-white shadow shadow-gray;
}

.input {
  @apply rounded p-4 outline-none bg-white shadow shadow-gray;
}

.input-label {
  @apply text-gray;
}

.textarea {
  @apply rounded p-2 h-40 outline-none bg-white shadow shadow-gray;
}

.h1 {
  @apply text-2xl;
}

.font-inherit {
  font-family: inherit;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 25rem;
  grid-gap: 1rem;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
